ansible/secret
secret
.encfs.secret
ansible.cfg

#-- python
*.py[co]

#-- vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#-- Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

#-- SublimeText
*.sublime-workspace
#*.sublime-project

#-- sftp configuration file
sftp-config.json

#-- symlinks to debops-playbooks
playbooks/env
playbooks/sys.yml
playbooks/env.yml
playbooks/srv
playbooks/srv.yml
playbooks/common.yml
playbooks/hw.yml
playbooks/hw
playbooks/virt
playbooks/virt.yml
playbooks/app
playbooks/app.yml
playbooks/net
playbooks/sys
playbooks/net.yml
playbooks/bootstrap.yml
playbooks/service
playbooks/site.yml
playbooks/tkl.yml
ansible
tkl-debops
