export ROOT_PASS={{ app_passwd }}
export DB_PASS={{ app_passwd }}
export APP_PASS={{ app_passwd }}
export APP_EMAIL=admin@example.com
export APP_DOMAIN={{ app_domain }}
export HUB_APIKEY=SKIP
export SEC_UPDATES=FALSE
